
table {
  width: 100vw;
}
.guitar {
  height:745px;
  width: 300;
}
.example2 {
  text-align: center;
}
marquee {
  font-size: 30px;
  font-weight: 800;
  font-family:sans-serif;
  color:red;
  scroll-behavior:20000; 
}
.guitar {
  padding: 50px;
  transition: transform .2s; /* Animation */

  margin: 0 ;
}

.guitar:hover {
  transform: scale(1.5);
}
.home {
  padding: 50px;
  transition: transform .2s; /* Animation */

  margin: 0 ;
}

.home:hover {
  transform: scale(1.5);
}
.home {

}
