
table {
  width: 100vw;
}
.guitar {
  height:745px;
  width: 300;
}
.example2 {
  text-align: center;
}
<style>
.example1 {
 height: 50px;

 overflow: hidden;
 position: relative;
}
.example1 h3 {
 font-size: 3em;
 color: red;
 position: absolute;
 width: 100%;
 height: 10%;
 margin: 0;
 line-height: 50px;
 text-align: center;

 -moz-transform:translateX(25%);
 -webkit-transform:translateX(25%);
 transform:translateX(25%);

 -moz-animation: example1 12s linear infinite;
 -webkit-animation: example1 12s linear infinite;
 animation: example1 12s linear infinite;
}

@-moz-keyframes example1 {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes example1 {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes example1 {
 0%   {
 -moz-transform: translateX(100%);
 -webkit-transform: translateX(100%);
 transform: translateX(100%);
 }
 100% {
 -moz-transform: translateX(-100%);
 -webkit-transform: translateX(-100%);
 transform: translateX(-100%);
 }
}
.guitar {
  padding: 50px;
  transition: transform .2s; /* Animation */

  margin: 0 ;
}

.guitar:hover {
  transform: scale(1.5);
}
